<div class="row">
    <div class="col-sm-4" ng-repeat="item in menu.foundItems">
      <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{item.name}} ({{item.short_name}})</h5>
            <hr class="my-4">
            <p class="card-text">{{item.description}}</p>
            <input type="button" ng-click="menu.onRemove({index: $index})" class="btn btn-primary" value="Don't want this one!">
        </div>
      </div>
    </div>
</div>
<div class="alert alert-danger d-flex justify-content-center" role="alert" ng-show="menu.onEmpty">{{menu.onEmpty}}</div>